@charset "utf-8";
/* CSS Document */

.x_panel{position:relative;width:100%;margin-bottom:10px;padding:10px 17px;display:inline-block;background:#fff;border:1px solid #E6E9ED;-moz-column-break-inside:avoid;column-break-inside:avoid;opacity:1;transition:all .2s ease}
.x_title{border-bottom:2px solid #E6E9ED;padding:1px 5px 6px;margin-bottom:10px}
.x_title .filter{width:40%;float:right}
.x_title h2{margin:5px 0 6px;float:left;display:block;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.x_title h2 small{margin-left:10px}.x_title span{color:#BDBDBD}
.x_content{padding:0 3px 6px;position:relative;width:100%;float:left;clear:both;margin-top:5px; overflow-x:scroll;}
.x_content h4{font-size:16px;font-weight:500;}
.label-align{text-align:right}

.tile-stats{
	
	position: relative;
	display: block;
	margin-bottom: 12px;
	border: 1px solid #E4E4E4;
	-webkit-border-radius: 5px;
	overflow: hidden;
	padding: 5px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 5px;
	-moz-background-clip: padding;
	border-radius: 5px;
	background-clip: padding-box;
	background:#FFF;
	transition: all 300ms ease-in-out;
	}
	
.tile-stats .icon {
    width: 20px;
    height: 20px;
    color: 
    #BAB8B8;
    position: absolute;
    right: 53px;
    top: 22px;
    z-index: 1;
}

.tile-stats .count, .tile-stats h3, .tile-stats p {
    position: relative;
    margin: 0;
    margin-left: 0px;
    margin-left: 10px;
    z-index: 5;
    padding: 0;
}










@media (max-width: 414px){.item{display:block}.label-align{text-align:left}}

@media (max-width: 400px){.label-align{text-align:left}}